
h5 {
  color: rgb(111, 35, 211);
}
.zmdi{
  font-size: 25px;
  font-weight: 600;
}
.zmdi:hover{
  color: #677;
}
span{
  color: rgb(199, 117, 10);
  font-weight: 600;
  padding: 0 px 15px;
}
#titulo{
  color: #fda205;
  font-size: 45px;
  font-weight: 600;
}