<div class="container">
  <div class="row text-center">
    <div class="col-md-12 mt-5">
      <h5 class="text-center" id ="titulo">Base "n"</h5>
      
        <button (click)="sumar()" class="btn-primary bmd-btn-fab-sn">
          <i class=zmdi zmdi-plus> </i>
        </button>
       
        <span> {{ numero }} </span>

        <button (click)="restar()" class="btn btn-danger bmd-btn-fab-sn">
          <i class=zmdi zmdi-minus> </i>
        </button>
      
      </div>
    </div>
    </div>
